<div class="banner-login-container">
  <div class="banner-login-form" *ngIf="active">
    <form [formGroup]="loginForm"
          (ngSubmit)="verifyGebruiker()">
      <label for="username">Email: </label>
      <input type="text"
             id="username"
             formControlName="email">
      <label for="password">Password: </label>
      <input type="password"
             id="password"
             formControlName="wachtwoord">
      <input type="submit" value="log-in">
    </form>

  </div>
  <button class="banner-login-button" (click)="active=!active">

  </button>


</div>
