<div class="content-container">
  <div class="content-titel">Inloggen</div>
  <div class="content-content">
    <div id="login-veld">
      <form>
        <div class="invoerveld">
          <label for="veld-gebruikersnaam">Gebruikersnaam:</label>
          <input id="veld-gebruikersnaam" type="text">
        </div>
        <div class="invoerveld">
          <label for="veld-wachtwoord">Wachtwoord:</label>
          <input id="veld-wachtwoord" type="password">
        </div>
        <input type="submit" value="Login">
      </form>
    </div>
    <div id="help-veld">
      <p>Gebruikersnaam vergeten?</p>
      <p>Wachtwoord vergeten?</p>

    </div>
  </div>

</div>
