<div>
  <div class="menu-header">
    <input type="button" class="menu-button" value="Aanmelden" routerLink="sign_up">
    <input type="button" class="menu-button" value="Plaats een advertentie">
    <input type="button" class="menu-button" value="Mijn advertenties">
    <input type="button" class="menu-button" value="Help en contact">
  </div>

  <div class="menu-container">
    <a routerLink="/sign_up">
      <menu-button></menu-button>
    </a>
    <menu-button></menu-button>
    <menu-button></menu-button>
    <div class="menu-footer">

    </div>
  </div>
</div>
