
.menu-container {

  width: 100%;
  height: inherit;
  margin: 0;
  text-align: left;


}


.menu-footer, .menu-header {
  background-color: #feef94;
}

.menu-header {
  padding-top: 5px;
  height: 175px;
  border-bottom: 8px solid rgba(242, 181, 134, 1);
}

.menu-footer {
  border-top: 4px solid rgba(242, 181, 134, 1);
  height: 600px;

}


.menu-button {
  width: 95%;
  height: 30px;
  margin: 4px 4px 4px 4px;
  border-radius: 6px;
  border: 2px solid rgba(242, 181, 134, 1);
  background-color: #fff8e4;
  font-size: 15px;
  font-family: "Constantia", "sans-serif";
  font-weight: bold;
  color: rgb(204, 135, 81);

}

.menu-button:hover {
  background-color: #ffffff;
  color: #103475;
  border: 2px solid #103475;

}
